<Blazorise.ThemeProvider Theme="@_theme">
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</Blazorise.ThemeProvider>

@code{
    private readonly Theme _theme = new Theme
    {
        ColorOptions = new ThemeColorOptions
        {
            Primary = "deepskyblue",
            Secondary = "indianred"
        },
        SidebarOptions = new ThemeSidebarOptions
        {
            BackgroundColor = "deepskyblue",
            Color = "White",
            Width = "250px"
        },
        ButtonOptions = new ThemeButtonOptions(),
        SnackbarOptions = new ThemeSnackbarOptions
        {
            BackgroundColor = "deepskyblue",
            TextColor = "White"
        }
    };
}
