@page "/petrocks/{PetRockId}"

@inject PetRockService PetRockService;
@inject CurrencyService _currencyService

@if (_ready)
{
    <div class="container-fluid">
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="img-fluid petrock-image-container">
                    <img class="img-top petrock-image-img" src="@_petRock.Images.FirstOrDefault()" alt="image">
                </div>
            </div>
            <div class="col-md">
                <h2>@_petRock.Name</h2>
                <hr class="divider divider-solid">

                @if (_selectedVariant.Price.FullPriceGBP > _selectedVariant.Price.DealPriceGBP)
                {
                    <table class="b-table table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <td>Full Price:</td>
                            <td><span>@GetFormattedAmount(_selectedVariant.Price.FullPriceGBP)</span></td>
                            </tr>
                            <tr>
                                <td>Price:</td>
                            <td><span class="price-green">@GetFormattedAmount(_selectedVariant.Price.DealPriceGBP)</span></td>
                            </tr>
                            <tr>
                                <td>You Save:</td>
                            <td><span>@GetFormattedAmount(_selectedVariant.Price.FullPriceGBP - _selectedVariant.Price.DealPriceGBP) (@((_selectedVariant.Price.FullPriceGBP - _selectedVariant.Price.DealPriceGBP) / _selectedVariant.Price.FullPriceGBP * 100)%)</span></td>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                <h5>@GetFormattedAmount(_selectedVariant.Price.DealPriceGBP)</h5>
                }
                <p>@_selectedVariant.Price.Details</p>

                <VariantSelector PetRock="@_petRock" Variants="@_variants" SelectedVariant="@_selectedVariant" NewPetRockVariantSelected="@OnNewPetRockVariantSelected"></VariantSelector>

                <h6>@_petRock.Headline</h6>
                <p>@_petRock.Description</p>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <h5>@GetFormattedAmount(_selectedVariant.Price.DealPriceGBP)</h5>

                        <ShoppingBasketButtons PetRockId="@PetRockId" PetRockVariantId="@_selectedVariant.VariantId" OnPetRockAddedToBasket="OnPetRockAddedToBasket"></ShoppingBasketButtons>

                        <div hidden="@(!_addedToBasket)">Added to basket!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string PetRockId { get; set; }

    private PetRock _petRock;
    private List<Variant> _variants;
    private Variant _selectedVariant;
    private string _currencyCode;
    private string _currencySymbol;
    private bool _ready = false;
    private bool _addedToBasket;

    protected override async Task OnParametersSetAsync()
    {
        _petRock = await PetRockService.GetPetRockById(PetRockId);
        _variants = await PetRockService.GetPetRockVariants(PetRockId);
        _selectedVariant = _variants.FirstOrDefault();
        _currencySymbol = _currencyService.GetCurrencyCharacter("GBP");
        _ready = true;
        await base.OnParametersSetAsync();
    }

    private string GetFormattedAmount(decimal amount) => $"{_currencySymbol}{amount:0.00} {_currencyCode}";

    private void OnNewPetRockVariantSelected(Variant selectedVariant)
    {
        _selectedVariant = selectedVariant;
        StateHasChanged();
    }

    private void OnPetRockAddedToBasket()
    {
        _addedToBasket = true;
        StateHasChanged();
    }
}
