@page "/basket"
@using System.Collections.Concurrent;
@using Company.Website.PetRocks

@inject ShoppingBasketService _shoppingBasketService
@inject PetRockService PetRockService

<div class="basket-container">
    @if (_shoppingBasket != null)
    {
        <h2>Shopping Basket</h2>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price/unit</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var petRock in _shoppingBasket.PetRocks)
                {
                    _variantDetails.TryGetValue(petRock.VariantId, out var petRockAndVariant);
                    <tr>
                        <td>
                            @if (petRockAndVariant != default)
                            {
                                <div><b>@petRockAndVariant.petRock.Name</b></div>
                                <div>@(string.Join(", ", petRockAndVariant.variant.VariantTypeValues.Values))</div>
                            }
                            else
                            {
                                <b>-</b>
                            }
                        </td>
                        <td>
                            <PricingLabel CurrencyCode="GBP" PetRockId="@petRock.PetRockId" PetRockVariantId="@petRock.VariantId" />
                        </td>
                        <td>
                            @petRock.Quantity
                        </td>
                        <td>
                            TBC
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <PricingTotal TotalType="Final total" CurrencyCode="GBP" PetRockVariantIdAndQuantities="@_shoppingBasket.PetRocks?.Select(cp => (cp.PetRockId, cp.VariantId, cp.Quantity))?.ToList()"></PricingTotal>
    }
</div>

@code {
    private readonly ConcurrentDictionary<string, (PetRock petRock, Variant variant)> _variantDetails = new ConcurrentDictionary<string, (PetRock petRock, Variant variant)>();

    private ShoppingBasket _shoppingBasket;

    protected override void OnInitialized()
    {
        _shoppingBasket = _shoppingBasketService.GetShoppingBasketFromStorage();
        Parallel.ForEach(_shoppingBasket.PetRocks, async p =>
        {
            var petRockDetails = await PetRockService.GetPetRockById(p.PetRockId);
            var variantDetails = await PetRockService.GetPetRockVariantById(p.PetRockId, p.VariantId);
            _variantDetails.AddOrUpdate(p.VariantId, _ => (petRockDetails, variantDetails), (_, _) => (petRockDetails, variantDetails));
            StateHasChanged();
        });
    }

    private void UpdateItemInShoppingBasket()
    {
        // TODO
    }

    private void RemoveItemFromShoppingBasket()
    {
        // TODO
    }
}
