@page "/"

@inject AdoptionService _adoptionService

<div class="content px-4">
    <h1><b>Adopt</b> a RockPal</h1>
    <div class="adoptable-rocks">
        @if (_adoptableRocks != null)
        {
            @foreach (var petRock in _adoptableRocks)
            {
                <div class="img-fluid rockpal-card">
                    <div class="rockpal-container">
                        <h1>@petRock.Name</h1>
                        <img class="rockpal-img" src="@petRock.Images.First()" alt="Card image">
                        <h6>@petRock.Catchphrase</h6>
                        <a href="@($"adoption/{petRock.Id}")" class="btn adopt-button">More information</a>
                    </div>
                </div>
            }
        }
    </div>

    <h1 class="look-after-header"><b>Look After</b> your RockPal's</h1>

    <AuthorizeView>
        <Authorized>
            @if (_petRocks != null)
            {
                <div class="adopted-rocks">
                    @foreach (var petRock in _petRocks)
                    {
                        <div class="rockpal-card">
                            <div class="rockpal-container">
                                <h1>@petRock.Name</h1>
                                <img class="rockpal-img" src="@petRock.Images.First()" alt="Card image">
                                @foreach (var attr in petRock.Attributes)
                                {
                                    <h6>
                                        <b>@attr.Key:</b> @attr.Value
                                    </h6>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <h4>Once you've adopted a RockPal, you'll see them here.</h4>
            }
        </Authorized>
        <NotAuthorized>
            <h4>Log in to look after your RockPal's.</h4>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    [CascadingParameter] private Task<AuthenticationState> authStateTask { get; set; }

    private List<PetRock> _petRocks;
    private List<AdoptableRock> _adoptableRocks;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authStateTask;
        if (authState.User.Identity?.IsAuthenticated ?? false)
        {
            _petRocks = await _adoptionService.GetPetRocks();
        }

        _adoptableRocks = await _adoptionService.GetAdoptableRocks();
    }

}
