@inject ProductInformationService ProductInformationService
@inject CartService CartService

@inject NavigationManager NavManager

<div class="product-purchase">
    <div class="row">
        <div class="col-md-6">
            Images etc
        </div>
        <div class="col-md-6">
            <h2>@_productInformation.Name</h2>
            @if (_selectedProductVariantId != null)
            {
                <PricingSummary CurrencyCode="GBP" ProductId="@ProductId" ProductVariantId="@_selectedProductVariantId"></PricingSummary>
            }

            <ProductVariantsSelector ProductId="@ProductId" ProductVariantChanged="@ProductVariantChanged"></ProductVariantsSelector>

            <div class="row cart-buttons">
                <div class="col-md-6">
                    <button class="btn btn-primary" @onclick="AddToCart">
                        <Icon Name="IconName.CartPlus" Margin="Margin.Is3.FromRight" />Add To Cart
                    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success" @onclick="BuyNow">
                        <Icon Name="IconName.ArrowRight" Margin="Margin.Is3.FromRight" />Buy Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<Snackbar @ref="_snackbar" Color="SnackbarColor.Primary">
    <SnackbarBody>
        '@_productInformation.Name' added to cart!
    </SnackbarBody>
</Snackbar>

@code {
    [Parameter]
    public string ProductId { get; set; }

    Snackbar _snackbar;

    private ProductInformation _productInformation;

    private int _selectedProductVariantId;

    protected override async Task OnParametersSetAsync()
    {
        _productInformation = await ProductInformationService.GetProductInformationById(ProductId);
    }

    private void ProductVariantChanged(int newProductVariantId)
    {
        _selectedProductVariantId = newProductVariantId;
        StateHasChanged();
    }

    private void AddToCart()
    {
        CartService.AddProductVariantToCart(ProductId, _selectedProductVariantId);
        _snackbar.Show();
    }

    private void BuyNow()
    {
        CartService.AddProductVariantToCart(ProductId, _selectedProductVariantId);
        NavManager.NavigateTo("cart");
    }
}
